<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Email</title>
</head>
<body>
    To,<br />
    {rtlnm}<br />
    {rtladd}<br /><br />
    Dear Sir/Madam,
    <br /><br />
    <p align="justify">
        Thanks for your valuable order.We will process your order.
    </p>
    <br /><br />
    <table>
        <thead>
            <tr>
                <th>Order Date &nbsp;&nbsp;&nbsp;&nbsp;</th>
                <th style="padding-right: 6px;">Order No &nbsp;&nbsp;&nbsp;&nbsp;</th>               
                <th style="text-align:right">&nbsp;&nbsp;Quantity&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {tbody}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <br /><br /><br />
    Thanks & Regards,<br /><br />

    {username}<br />
    {compname}<br />  
</body>
</html>
