<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Email</title>
</head>
<body>
    To,<br />
    {slnm}<br /><br />
    Dear Sir/Madam,
    <br /><br />
    Please be advised that the following payment will be {advmrcpt}
    <br />    {BeneficiaryDetails}
    <br /> Reference No. :   {ReferenceNo}
    <br />  Reference Date :  {ReferenceDate}
    <br /> Instrument No. :   {InstrumentNo}
    <br />  Instrument Amt :  {InstrumentAmt}
    <br /> Processing Date :   {ProcessingDate}
    <br />

    For any further queries feel free to contact us.    
    <br /><br />
    Thanks & Regards,<br />
    <br />For <b>{compname}</b>
    <br />
    <br />
    <b style="color:red">*** This is a system generated mail. PLEASE DO NOT REPLY ON THIS EMAIL. *** </b>

</body>
</html>
